<template name="finalPage">
	<div id="welcome-instruction" class="instruction">

		<h2>That's all!</h2>

		<div>
			<p>
				Fantastic! You've just completed all asks in this HIT! Thank you!
			</p>

            <div id="markerSurvey">

                <p id="usefulness">*We are wondering is the marker system helpful?<br><br>
                    <input type="radio" name="useful" value="2" id="useful-2">&nbsp;&nbsp;Very helpful
                    <input type="radio" name="useful" value="1" id="useful-1">&nbsp; Somewhat helpful
                    <input type="radio" name="useful" value="0" id="useful-0">&nbsp;&nbsp;Not helpful</p>

            </div>

            <p id="warning" class='red'>Please give valid choice!</p>
            <p>Your survey code is: <b>SIGCHI </b></p>

            <p>Please push the button below to submit the HIT!</p>
		</div>
		
	</div>
	
	<div id="buttonArea" align="center">
		<a href="" id="welcome-btn" class="button-warning">Submit</a>
	</div>
</template>